:root{
    --fundo: #48D1CC;
    --cor-frente: #FFFFFF;
    --destaque: #00FFFF;
    --branco: #FFFFFF;
    --preto: #000000;

}

body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--preto);
    color:var(--branco); 
    width: 100%;
    text-align: center;
}
#container{
    padding: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--cor-frente);
    text-align: center;
}

.conteudo-cartaoh3{
    position: absolute;
    border: 1px solid var(--destaque);
    color: var(--destaque);
    margin: ;

}